---
// src/layouts/BaseLayout.astro
// import "../_styles/global.css";   // ← ここで global.css を読み込む
---
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
  </head>
  <body>
    <slot />
  </body>
</html>
